.listItem {
  position:relative;
  .ResultCard--expanded{
    display:flex;
    .listPoster {
      border-radius:10px 0 0 10px;
      width:25%;
    }
  }
#ResultCardTitle--selected {
  margin-left:5px;
  display: flex;
  align-items: flex-end;
  border-radius:10px 10px 0 0;
  h2{
    text-align: center;

  }
}

  dl{
    margin:0;
    float:left;
  }
  dd{
    margin-left:20vw;
    margin-bottom:5px;
  }
  dt {
    margin:0;
    max-width: 20vw;
    text-align: left;
    font-weight: bold;
    float:left;
  }

}

.ResultCard--expanded{
  font-size:.6rem;
}
