.listItem {
  position:relative;

  .ResultCard{
    display:flex;
    width:100%;
    max-width:800px;
    min-height:25%;

    .listPoster {
      border-radius:10px 0 0 10px;
      width:100%;
      height:100%;
      overflow:hidden;
      position:absolute;
      object-fit:cover;
    }
    .posterContainer {
      width:25%;
      border:2px solid red;
      height:300px;
    }
  }

  .imageContainer {
    flex: 0 0 auto;
    position: relative;
    width:25%;
  }

  #ResultCardTitle--selected {
    margin-left:5px;
    display: flex;
    align-items: flex-end;
    border-radius:10px 10px 0 0;
    h2 {
      text-align: center;
    }
  }


}


.ResultDetailContainer .listItem{
  margin:10px auto;
  //padding:10px;
  //border:.5px solid grey;
  border-radius: 15px;
  //width:90%;
  box-shadow: 0 4px 5px 2px darkgrey;
}
.ResultDetailContainer{
  width:100%;
  padding:10px;
}
dl {
  margin:0;

  dd {
    margin-left:8rem;
    margin-bottom:5px;
  }
  dt {
    margin:0;
    max-width: 7rem;
    text-align: left;
    font-weight: bold;
    float:left;
  }
}
