.listItem {
  .ResultCard--expanded{
    display:flex;
    .listPoster {
      border-radius:10px 0 0 10px;
      width:25%;
    }
  }
#ResultCardTitle--selected {
  margin-left:5px;
  display: flex;
  align-items: flex-end;
  border-radius:10px 10px 0 0;
  h2{
    text-align: center;

  }
}
}

