.movieSelected {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: .8rem;
    padding: 5px;
    text-align: left;
    &-info {
        align-items: start;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .profileImg {
            margin: 0 2% 15px 5%;
            width: 10rem;
        }
        h2 {
            margin: .5rem 0;
        }
        img {
            border-radius: 5px;
            max-width: 35%;
        }
    }
}

dl {
    margin-bottom: 0;
    margin-left: 0;
    dd {
        margin-bottom: 10px;
    }
    dt {
        font-weight: bold;
        float: left;
        margin: 0;
        text-align: left;
    }
}

@media only screen and (min-width: 600px) {
    .ResultDetailContainer {
        .ListSelectedDescription {
            order: 1;
            width: 64%;
        }
        .profileImg {
            margin-bottom: 0;
            order: 2;
        }
    }
}