.movieSelected{
  padding:5px;
  flex-wrap: wrap;
  display:flex;
  flex-direction: column;
  text-align: left;
  font-size:.8rem;

  &-info{
    align-items:start;
    flex-direction: row;
    h2{
      margin: .5rem 0;
    }
    img{
      max-width:35%;
      border-radius:5px;
    }
    dl{
      margin-left:0;
      margin-bottom:0;
      dd{
        margin-left:30vw;
        margin-bottom:10px;
      }
      dt {
        margin:0;
        max-width: 30vw;
        text-align: left;
        font-weight: bold;
        float:left;
      }
    }
  }
}

.ResultDetailContainer {
  padding:5px;
  margin: 0 8px;
}