.resultReview {
    a {
        cursor: pointer;
        text-decoration: none;
    }
    .reviewHeadline {
        border: .5px solid black;
        border-radius: 5px;
        color: black;
        padding: 10px;
    }
}