$dark: #0F0d35;
$light: #F6F7F3;
$dark_blue: #393B63;
$light_orange: #F4BB8A;
$dark_pink: #da355e;


$dark_grey: rgb(26,50,60);
$green: rgb(27,178,138);
$red: rgb(222, 88, 91);
$blue: rgb(125, 130, 236);
$purple: rgb(165, 99, 227);
$pink: rgb(190, 70, 150)
