@import "_variables.scss";

.App {
  text-align: center;
  color:black;
  //background-blend-mode: saturation;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  font-family: 'Assistant', sans-serif;

  //width:100%;
  //max-width:1200px;
  background-color: rgba(18,18,18,.7);
  //background-color: rgba(90,90,90,.6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: end;
  font-size: calc(10px + 2vmin);
  color: white;



}


.App-link {
  color: #09d3ac;
}