@import "_variables.scss";

.App {
  text-align: center;
  color:black;

}

.App-logo {
  height: 40vmin;
}

.App-header {
  //width:100%;
  //max-width:1200px;
  background-color: rgba(0,0,0,.5);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  //padding-top:20px;


}

.App-link {
  color: #09d3ac;
}