.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.listResults{
  list-style: none;
  text-align: left;
  font-size:.8rem;
  padding:0;
}
.listResults li{
  display:flex;
  flex-wrap: wrap;
  margin:10px;
  border:.5px solid whitesmoke;
  padding:10px;
  width:400px;
}

.listPoster {
  width:50px;
  margin-right:15px;
}
.listInfo {
  max-width:80%;
}